* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.main hr {
  width: 5rem;
  border: 1px solid black;
}

.addForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0;
}

.title {
  width: 10rem;
}

.author {
  width: 10rem;
}

.form-btn {
  width: 2rem;
  align-self: flex-end;
}

.books-list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.books-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 4rem;
}

.book-details {
  display: flex;
  gap: 0.5rem;
}

.remove-btn {
  width: 4rem;
}
